<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{name}}'s Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/portfolio.css') }}"></link>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/portfolio.js') }}"></script>
</head>

<body>
    <div id="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        {% if username %}
        <a href="{{ url_for('logout', name = username) }}">Logout</a>
            {% if edit %}
            <div class="dropdown">
                <a href="{{ url_for('edit', name = username) }}" class="dropbtn">Edit page</button>
                <div class="dropdown-content">
                    <a onclick="sendVal('text')">Add Text</a>
                    <a onclick="sendVal('image')">Add Image</a>
                    <a onclick="sendVal('del')">Remove Text</a>
                    <a onclick="sendVal('delimg')">Remove Image</a>
                </div>
            </div>
            {% else %}
            <a href="{{ url_for('edit', name = username) }}">Edit Page</a>
            {% endif %}
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>

    <div class="content">

        {% for item in navigation %}
        {{ item|safe }}
        {% endfor %}

    </div>

    <script>
        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;
        window.onscroll = function () { stickymenu(navbar, sticky) };

        function sendVal(type) {
            getVal(type, "{{ username }}");
        }
    </script>

</body>

</html>